html,body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
header {
  background: #000000;
  color: white;
  position: relative;
//  height: 10vh;
  text-align: justify;


  .headerwrapper {
      padding: 16px;
  }


  .logocontainer {
    display: inline-block;

    img {
      display: inline-block;
      vertical-align: middle;
      width: 50px;
    }
    h1 {
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
    }
  }

  a {
    color: white;
  }


}

main {
  font-family:'Montserrat', sans-serif;
}

.step {

  &.hidden {
    display: none;
  }
}



@media only screen and (min-width:800px) {

  nav {
    display: inline-block;

    ul {
      display: inline-block;
      margin:0;
    }

    li {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .playlistlist {
    width: 25vw;
  }

}
